/* CSS reset*/
body, header, nav, footer, h1, div, img, ul{
    margin:  0;
    padding: 0;
    border: 0;
}

body{
    background-color: rgb(244,129,31);
}

header{
    background-color: rgb(244,129,31);
    height: 15px;
    padding: 7%;
    position: -webkit-sticky;
    position:sticky;
    top: 0;
    float: left;
}

header img{
    margin: 0 auto;
}

nav{
    padding: 1%;
    margin-bottom: 1%;
    background-color: rgb(244,129,31);
}

nav ul{
    list-style-type: none;
    text-align: center;
}

nav li{
    font-size: 1.75em;
    font-family: 'Send Flower', cursive;
    border-top: 1px solid rgb(244,129,31);
}

li:first-child{
    border-top: none;
}

nav li a{
    display: block;
    color: rgb(0,131,68);
    padding: 0.5em 1em;
    text-decoration: none;
}

p { color: #685206; 
    font-family: 'Helvetica Neue', 
    sans-serif; 
    font-size: 20px; 
    line-height: 24px; 
    margin: 0 0 24px; 
    text-align: justify; 
    text-justify: inter-word; }

img{
    max-width: 100%;
    display: block;
}

main{
    /*clear: left;*/
    background-color: rgb(244,129,31);
    padding: 2%;
    font-size: 1.25em;
    font-family: 'Roboto', sans-serif;
}

.tel-link a{
    color: rgb(244,129,31);
    text-decoration: none;
    font-size: 1.5em;
    display: block;
}

footer p{
    font-size: 0.75em;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 0 1em;
}

footer p a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.tel-link{
    background-color: #404040;
    padding: 2%;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    border-radius: 5px;
}

      #container {
          position: relative;
      }
      #container img {
          position: absolute;
          top: 0px;
          left: 0px;
      }

#contact{
    text-align: center;
}

#contact a{
    color: #666600;
    text-decoration: none;
}

.map{
    border: 8px solid #000;
}

.hours{
    margin-left: 10%;
}

.tablet-desktop{
    display: none;
}

.mobile{
    display: block;
}

#blackberry, #kiwi, #mango{
    margin: 0 2%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }

@media screen and (min-width: 630px), print{

    /* Table viewport: show tablet-desktop class, hide mobile class */
    
    .tablet-desktop{
        display: block;
    }
    
    .mobile{
        display: none;
    }
    
    header{
        position: static;
        padding-bottom: 7%;
    }
    
    /* Tablet Viewport: Style rules for nav area */ 
    
    nav li{
        border-top: none;
        display: inline-block;
        border-right: 1px solid rgb(244,129,31);
    }
    
    nav li:last-child{
        border-right: none;
    }
    
    nav li a{
        padding: 0.1em 0.75em;
    }
    
    /* Tablet Viewport: Style rules for main content area */
    
    main ul{
        margin: 0 0 4% 10%;
    
    }
    
    .tel-num{
        font-size: 1.25em;
        text-align: center;
    }
    
    .map{
        width:600px;
        height:450px;
    }
    /* Mobile Viewport: Style rule for header */ 

    @media screen and (min-width: 769px), print{
        .frame{
            position: relative;
            max-width: 150px;
            margin: 2% auto;
        }
        .pic-text{
            position: absolute;
            bottom: 0;
            background-color: #000;
            opacity: 50%;
            color:white;
            width: auto;
            padding: 5px;
            text-align: center;
            font-family: verdana, arial, sans-serif;
            font-size: 1.5em;
            font-weight: bold;
        }
    } 

    /* Desktop Viewport: Style rule for header */ 
    @media screen and (min-width: 769px), print{
        
       header{
            float: left;
        }

        nav{
            padding: 1%;
            margin-bottom: 1%;
            background-color: rgb(244,129,31); 
        }
        
        nav ul{
            list-style-type: none;
            text-align: right;
        }
        
        nav li{
            font-size: 1.75em;
            font-family: 'Send Flower', cursive;
            border-top: 1px solid rgb(244,129,31);
            
            
        }
        
        li:first-child{
            border-top: none;
        }
        
        nav li a{
            display: block;
            color: rgb(0, 0, 0);
            padding: 0.5em 1em;
            text-decoration: none;
        }

        nav li:hover{
            /*color: rgb(255, 255, 255);
            background-color: rgb(254, 252, 252) ; */
            opacity: 32%;
            border-radius: 25px;
        }
        .grid{
            display:grid;
            grid-template-columns: auto auto;
            grid-gap: 10px;
        }
        .frame{
            opacity: 0.9;
        }
        frame:hover{
            opacity: 1;
            box-shadow: 8px 8px 2px;
            color: #808080;
            width: 200pc;
            height: 200px;
            border-radius: 50%;
        }
    }
    
    .action{
        font-size: 1.35;
        color: rgb(0,131,68);
        font-weight: bold;
        text-decoration: none;
        text-shadow: 5px 5px 8px rgb(0, 0, 0);
    }
    
    .gradient-style{
        clear: left;
        border-radius: 25;
        border-top: 1px solid rgb(0,131,68);
        border-bottom: 1px solid rgb(0,131,68);
        background-color: #f2f2f2;
        padding: 1% 2%;
        background-image: linear-gradient(to right, rgba(244, 130, 31, 0.604), rgb(244, 130, 31, 0.604));
    }
    /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
}